@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c2dbf4;
  --foreground: #2f353f;
  --accent: #4a90e2;
  --secondary: #fef3e0;
  --tertiary: #94b8e0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes particleAnimation {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 30;
  }
}

.particle-line {
  stroke-dasharray: 5, 5;
  animation: particleAnimation 1.5s linear infinite;
}

/* Add this to the end of your globals.css file */
.group:hover .group-hover\:opacity-100 {
  transition-delay: 0s;
}

.group:not(:hover) .group-hover\:opacity-100 {
  transition-delay: 0.15s;
}
